#header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.fcc-product-landing-page .nav {
    font-size: large;
    font-weight: bolder;
    background-color: #f0f0f0;
}

.fcc-product-landing-page .nav-link {
    color: black;
}

.c-mb-15px-ch > * {
    margin-bottom: 15px;
}

.c-bg-0-0-255-03 {
    background-color: rgba(0, 0, 255, 0.3);
}

.c-bg-light-blue {
    background-color: lightblue;
}

form {
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 30px;
}


select,legend,input:not([type="checkbox"]):not([type="radio"]) {
    margin-bottom: 20px;

}


input[type="checkbox"], input[type="radio"] {
    margin-bottom: 10px;
}


li.nav-item {
    margin-right: 0.5rem;
    background-color: blue;
    border-radius: 0.5rem;
}


.fa {
    color: darkorange;
}



.card {
    min-width: 250px;
    max-width: 250px;
}

.card-body, .card-header, .card-footer {
    border: 0.1px solid lightblue;
}

.side-nav ul li {
    display: block;
    width: 100%;
    font-weight: bold;
    background: #f0f0f0;
    text-align: center;    
}
    

.side-nav a {
    color: black;
    border-bottom: 1px solid black;

}

main.main-doc {
    padding: 20px;
    margin-top: 40px;
}

.fcc-technical-doc-page header {
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: darkcyan;
    background: #e0e0e0;
}

@media screen and (min-width: 600px) {

    .side-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 90%;
        overflow-x: hidden;
        overflow-y: auto;
        width: 200px;
        border: 1px solid gray;
        border-bottom: none;
        border-top: none;
        margin-top: 40px;
    }

    .side-nav ul {
        width: 100%;
    }

    main.main-doc {
        margin-left: 200px;
    }
    
}



    .side-nav ul {
        width: 100%;
    }

    main.main-doc {
        margin-left: 200px;
    }
    



    .side-nav ul {
        width: 100%;
    }

    main.main-doc {
        margin-left: 200px;
    }
    
body.portfolio {
    overflow-x: hidden;
}

.portfolio .nav {
    display: block;
    position: fixed;
    top: 0;
    right: 20px;
    left: 0;
    
    width: 100%;
    margin-left: 0;
    margin-right: 20px;
    overflow-x: hidden;
    
}
    


.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #0ff;
    list-style-type: none;
    padding: 15px 0 0 0;
}
    
    

.nav-list li {
    color: black;
    height: 50px;
    margin: 0 30px 0 0;
    align-items: stretch;
}

.nav-list a {
    color: black;
    font-size: large;
    font-weight: 700;
    text-decoration: none;
    display: block;
    height: 70%;
}

.welcome-section {
    height: 100vh;
    text-align: center;
    background-color: #000;
    padding-top: 200px;
    color: #0ff;
    margin-left: -20px;
    margin-right: -20px;
}

.welcome-section h1 {
    color: #fff;
    font-size: 100px;
}
.welcome-section p {
    font-size: 50px;
}

.projects-section {
    background-color: #799;
    padding: 70px 0 0 0;
}
.projects-section  h2 {
    font-size: 60px;
}

.projects-grid img {
    max-width: 100%;
    height: auto;
    width: 400px;
}

.projects-grid > * {
    margin-left: 10px;
    margin-right: 10px;
}

.contact-section {
    display: block;
}

.card {
    width: 600px;
    
}



.card-img-top {
    height: 200px;
}