.c-mb-15px-ch > * {
    margin-bottom: 15px;
}

.c-bg-0-0-255-03 {
    background-color: rgba(0, 0, 255, 0.3);
}

.c-bg-light-blue {
    background-color: lightblue;
}

fieldset {
    margin-bottom: 30px;
}


select,label,legend,input:not([type="checkbox"]):not([type="radio"]) {
    margin-bottom: 20px;

}

